main{
    background-color: #f5f7fa;
}

.slideshow{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slideshow img{
    max-width: 100%;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

section.cards {
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
section.cards h2{
    display: block;
    padding: 1em;
    margin: 0px;
    box-sizing: border-box;
    width:100%;
    text-align: center;
    background-color: #242424;
    color: #fff;
}

section.cards .card{
    display: flex;
    width:620px;
    height: 350px;
    margin: 1em 0.5em;
    border: rgb(128, 128, 128) solid 1px;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
    transition: all 400ms ease;
    background-color: #ffffff;
}

section.cards .card:hover{
    box-shadow: 5px 5px 20px #333333;
    transform: translateY(-3%);
}

section.cards .card img{
    width: 50%;
}

section.cards .card .content h3{
    box-sizing: border-box;
    text-align: center;
    width:100%;
    margin: 0px;
    padding: 8px 8px;
}

section.cards .card .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


section.cards .card .content .price p{
    font-size: 17px;
    font-weight: bold;
}

section.cards .card .content p{
    text-align: center;
    font-size: 14px;
    margin: 0px 4px 4px 0px;
}

.content span{
    margin-right: 5px;
}

section.cards .card .content form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.cantidad{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.cantidad input{
    text-align: center;
}

section.cards .card button{
    border: none;
    background-color: #035202;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    width:100%;
    box-shadow: 3px 3px 5px rgb(128, 128, 128);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
  
section.cards .card button:hover{
    background-color: #147B01;
    transition: background-color 0.5s ease;
}


@media screen and (min-width:300px) and (max-width: 500px){
    
    section.cards .card{
        height: 500px;
        justify-content: space-around;
    }

    section.cards .card img{
        width: 50%;
        height: 50%;
        align-self: center;
    }

}