*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-size:100%;
    font-size:1em;
}

.brand-title{
    margin: 0.5em;
    display: flex;
    align-items: center;
}

.brand-title h1{
    font-family: 'Overpass', sans-serif;
    margin-left: 1em;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
}

.brand-title img{
    width: 70px;
    height: 70px;
    margin: 0px 0px 0.5em 0.5rem; 
    border-radius: 50%;
}

.logo{
    width: 1em;
    height: 1em;
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center; 
    background-color: #014757;
    color: #f0f0f0;
}

.navbar-links{
    height: 100%;
}

.navbar-links ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.navbar-links li{
    list-style: none;
    transition: background-color 0.5s ease;
}

.navbar-links li a{
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    padding: 1rem;
}

.navbar-links ul li ul li{
    display: none;
    position: relative;
    transition: background-color 0.5s ease;
}

.navbar-links li:hover{
    background-color: #025F74;
    transition: background-color 0.5s ease;
}

.close-btn{
    display: none;
    padding: 10px; 
    font-size: 25px;
    justify-content: flex-end;
    cursor: pointer;
}

.products-btn span, .services-btn span{
    margin: 5px;
}

.products-content, .services-content{
    flex-direction: column;
    background-color: #014757;
    position: absolute;
    z-index: 1;
}

.products-content.active li, .services-content.active li{
    display: flex;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color:#f0f0f0;
    border-radius: 10px;
}

.shopping-cart{
    position: relative;
    color: #fff;
    font-size: 20px;
    border: #f0f0f0 1px solid;
    border-radius: 100%;
    padding: 9px 13px 7px 12px;
    margin: 0px 1em;
    transition: background-color 0.5s ease;
}

.shopping-cart:hover{
    background-color: #0286A4;
    transition: background-color 0.5s ease;
}

footer{
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color: #014757;
    color: #f0f0f0;
}

.footer-navbar nav ul{
    display: flex;
}

footer nav ul li{
    list-style: none;
    text-align:center;
    padding: 4px;
} 

footer nav ul li a{
    display: inline-block;
    color: #f0f0f0;
    text-decoration: none;
}

.rights{
    position: relative;
    margin-left: 8em;
}

.social nav ul{
    display: flex;
    margin-right: 2em;
}

.social nav ul li a span{
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0px 0.2em;
    font-size: 25px;
}

.facebook span{
    padding: 12px 16px 12px 16px;
    transition: background-color 0.5s ease;
}

.gmail span{
    padding: 0.5em;
    transition: background-color 0.5s ease;
}

.whatsapp span{
    padding: 12px 14px 12px 14px;
    transition: background-color 0.5s ease;
}

.gmail span:hover, .whatsapp span:hover, .facebook span:hover{
    background-color: black;
    transition: background-color 0.5s ease;
}

@media (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title h1{
        font-size: 1.2em;
        margin-left: 0.5em;
        letter-spacing: 0px;
    }
    
    .brand-title img{
        margin: 0px 0px 0.2em 0.2rem; 
        width: 50px;
        height: 50px;
    }

    .shopping-cart{
        position: absolute;
        top: 0.4rem;
        right: 0px;
        display: flex;
        font-size: 20px;
        border: #f0f0f0 1px solid;
        border-radius: 100%;
        padding: 7px 6px 5px 5px;
        margin: 0px 10px 0px 0px;
    }

    .toggle-button{
        display: flex;
    }

    .navbar-links{
        position: fixed;
        width: 100%;
        height: 100%;
        left: -1000px;
        background-color: #014757;
        transition: left 0.4s ease;
        z-index: 1;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li{
        text-align: center;
        border-top: 0.1px solid #005c70;
        font-size: 18px;
    }

    .navbar-links ul li:last-child{
        border-bottom: 0.1px solid #005c70;
    }

    .navbar-links ul li a{
        padding: 0.8rem 1rem;
    }

    .navbar-links.active{
        display: flex;
        left: 0px;
    }

    .close-btn{
        display: flex;
    }

    .products-content, .services-content{
        align-items: center;
        text-align: center;
        position: relative;
    }

    .products-content li, .services-content li{
        padding-right: 100%;
        padding-left: 100%;
    }

    footer{
        flex-direction: column;
    }

    footer nav ul li{
        margin-right: 3em;
    }

    footer section:nth-child(1){
        order:3;
    }
    footer section:nth-child(2){
        order:2;
    }
    footer section:nth-child(3){
        order:1;
    }

    .rights{
        margin: 0px;
    }

    .social nav ul{
        margin-right: 0px;
    }

    .social nav ul li a span{
        margin: 0px 0px;
    }
}